
.form-control {
    color: black;
}
select.form-control {
    width: calc(100% - 26px) !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

.glyphicon {
    margin-right: 10px;
}

.glyphicon-download-alt {
    color: red;
}

.glyphicon-edit {
    color: green;
}

/* body { */
/*     font-family: "Avenir", "Open Sans" , "Helvetica Neue" , Helvetica , Arial , Verdana , Roboto , "游ゴシック" , "Yu Gothic" , "游ゴシック体" , "YuGothic" , "ヒラギノ角ゴ Pro W3" , "Hiragino Kaku Gothic Pro" , "Meiryo UI" , "メイリオ" , Meiryo , "ＭＳ Ｐゴシック" , "MS PGothic" , sans-serif; */
/* } */
body {
    background-color: #303946;
}
#wrapper {
    width: 100%;
}
#page-wrapper {
    padding: 0 15px;
    min-height: 568px;
    background-color: #fafafa;
}
@media (min-width: 768px) {
    #page-wrapper {
	position: inherit;
	margin: 0 0 0 200px;
	padding: 0 30px;
	border-left: 1px solid #e7e7e7;
    }
}
#toggle-button {
    margin: 4px;
}
td.fold-hard {
    word-break: break-all;
}
.sidebar {
    margin-top: 40px;
    /* border-top: 1px solid #d0d9f6; */
    background-color: #303936;
}
.sidebar .sidebar-nav {
    padding-left: 0;
    padding-right: 0;
    width: 100%;
}
/* .sidebar ul li { */
/*     border-bottom: 1px solid #e7e7e7; */
/* } */
.sidebar ul .sidebar-item a {
    color: #9099a6;
    font-weight: 200;
    font-size: 17px;
}
.sidebar ul .sidebar-item:hover a {
    background-color: #d0d9f6;
    transition: background;
    transition-duration: 0.4s;
    color: #000916;
}
.navbar .navbar-top-links li a, .navbar .navbar-top-links li a:hover {
    background-color: transparent;
}
.navbar .navbar-top-links li a i {
    font-size: 18px;
    color: white;
}
.navbar-top-links li a {
    /* border-left: 1px solid #a1a3b1; */
}
.navbar-top-links li a:hover {
    background-color: #c0c0c0;
}
.btn-group {
    position: absolute !important;
    display: block !important;
    right: 50px;
    top: 3px;
}
.user-group-list {
    max-height: 400px;
    overflow-y: scroll;
}
@media (min-width: 768px) {
    .sidebar {
	background-color: #303946;
	z-index: 1;
	position: absolute;
	width: 200px;
	margin-top: 40px;
    }
}
.navbar {
    height: 40px;
    /* background-color: #1883A7; */
    background-image: -webkit-gradient(
        linear,
	left top,
	left bottom,
	from(#2893B7),
	to(#087397));
}
.navbar {
    min-height: 40px;
    border: none;
}
.navbar .navbar-brand .navbar-brand:hover {
    height: 40px;
    width: 200px;
    background-image: -webkit-gradient(
        linear,
	left top,
	left bottom,
	from(#2893B7),
	to(#087397));
    font-weight: 700;
    color: #f5f5f5;
    padding: 10px 20px 20px 20px;
}
.navbar .navbar-header {
    float: left;
}
.navbar .navbar-top-links {
    float: right;
}

.navbar-brand {
  background: url("/static/img/automan_icon.png") no-repeat left center;
  background-size: contain;
  height: 30px;
  width: 150px;
  margin: auto;
}
.container {
    width: 100%;
}

@media (min-width: 768px)
.container {
    width: 100%;
}
.panel .panel-heading {
    min-height: 37px;
    background-image: -webkit-gradient(
        linear,
	left top,
	left bottom,
	from(#fff),
	to(#f1f1f1));
}

button.fancy_btn {
    outline: 0;
    font-size: 1.4em;
    font-weight: bold;
    padding: 3px 10px;
    color: #fff;
    border-style: none;
    background-image: -webkit-gradient(
        linear,
	left bottom,
	left top,
	from(#1853a7),
	to(#4883d7));
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #084397;
}

button.fancy_btn:hover {
    outline: 0;
    background-image: -webkit-gradient(
        linear,
	left bottom,
	left top,
	from(#084397),
	to(#3873c7));
}
button.fancy_btn:active {
    outline: 0;
    background-image: -webkit-gradient(
        linear,
	left top,
	left bottom,
	from(#033892),
	to(#3368c2));
}
.color-white {
    margin-right: 0 !important;
    left: 0px;
    outline: 0;
    color: white;
    font-size: 20px;
}
.color-white.glyphicon-remove {
    left: -1px;
    top: 2px;
}
.panel-right-button {
    outline: 0;
    float: right;
    padding-top: 4px;
    padding-right: 4px;
}
button.size-30x30-green {
    outline: 0;
    outline-color: #fff;
    width: 30px;
    height: 30px;
    background-image: -webkit-gradient(
        linear,
	left top,
	left bottom,
	from(#2ff287),
	to(#0fd267));
}
button.size-30x30-green:active {
    outline: 0;
    background-image: -webkit-gradient(
        linear,
	left bottom,
	left top,
	from(#2ff287),
	to(#0fd267));
}
button.size-30x30-green:hover {
    outline: 0;
    background-image: -webkit-gradient(
        linear,
	left top,
	left bottom,
	from(#29dd82),
	to(#09bd62));
}
.size-30x30-red {
    outline: 0;
    width: 30px;
    height: 30px;
    background-image: -webkit-gradient(
        linear,
	left top,
	left bottom,
	from(#f22222),
	to(#d20202));
}
.size-30x30-red:active {
    outline: 0;
    background-image: -webkit-gradient(
        linear,
	left bottom,
	left top,
	from(#f22222),
	to(#d20202));
}
.size-30x30-red:hover {
    outline: 0;
    background-image: -webkit-gradient(
        linear,
	left top,
	left bottom,
	from(#e21212),
	to(#c20202));
}
.size-30x30-blue {
    outline: 0;
    width: 30px;
    height: 30px;
    background-image: -webkit-gradient(
        linear,
	left top,
	left bottom,
	from(#4883d7),
	to(#1853a7));
}
.size-30x30-blue:active {
    outline: 0;
    background-image: -webkit-gradient(
        linear,
	left bottom,
	left top,
	from(#4883d7),
	to(#1853a7));
}
.size-30x30-blue:hover {
    outline: 0;
    background-image: -webkit-gradient(
        linear,
	left top,
	left bottom,
	from(#3873c7),
	to(#084397));
}
.panel-heading {
    padding: 0px;
}
.panel-title {
    padding: 10px;
}
#overlay {
    overflow: auto;
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    /* width: 100%; */
    /* height: 100%; */
    background-color: rgba(0,0,0,0.5);
    z-index: 10;
}
@media (min-width: 768px) {
    #overlay {
	left: 200px;
    }
}
.popup-table {
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
}
.popup-panel {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    margin: auto;
    width: 50%;
    height: 150px;
}
.progress {
    margin-bottom: 0 !important;
}
.panel-next-button {
    float: right;
    position: relative;
    bottom: -20px;
    right: 10px;
}
.panel-back-button {
    float: left;
    padding-bottom: 5px;
    padding-left: 5px;
}
.min-height-407 {
    min-height: 407px;
}
.panel-body .panel-next-button {
    margin-bottom: 20px;
}
.icon::before {
    display: inline-block;
    margin-right: .5em;
    font-family: fontawesome;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.table { }
tbody tr:nth-child(odd) {
    background: #f3f3f3;
}
thead {
    font-weight: bold;
}
.Select{position:relative}.Select input::-webkit-contacts-auto-fill-button,.Select input::-webkit-credentials-auto-fill-button{display:none!important}.Select input::-ms-clear,.Select input::-ms-reveal{display:none!important}.Select,.Select div,.Select input,.Select span{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}.Select.is-disabled .Select-arrow-zone{cursor:default;pointer-events:none;opacity:.35}.Select.is-disabled>.Select-control{background-color:#f9f9f9}.Select.is-disabled>.Select-control:hover{box-shadow:none}.Select.is-open>.Select-control{border-bottom-right-radius:0;border-bottom-left-radius:0;background:#fff;border-color:#b3b3b3 #ccc #d9d9d9}.Select.is-open>.Select-control .Select-arrow{top:-2px;border-color:transparent transparent #999;border-width:0 5px 5px}.Select.is-searchable.is-focused:not(.is-open)>.Select-control,.Select.is-searchable.is-open>.Select-control{cursor:text}.Select.is-focused>.Select-control{background:#fff}.Select.is-focused:not(.is-open)>.Select-control{border-color:#007eff;box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 0 3px rgba(0,126,255,.1);background:#fff}.Select.has-value.is-clearable.Select--single>.Select-control .Select-value{padding-right:42px}.Select.has-value.is-pseudo-focused.Select--single>.Select-control .Select-value .Select-value-label,.Select.has-value.Select--single>.Select-control .Select-value .Select-value-label{color:#333}.Select.has-value.is-pseudo-focused.Select--single>.Select-control .Select-value a.Select-value-label,.Select.has-value.Select--single>.Select-control .Select-value a.Select-value-label{cursor:pointer;text-decoration:none}.Select.has-value.is-pseudo-focused.Select--single>.Select-control .Select-value a.Select-value-label:focus,.Select.has-value.is-pseudo-focused.Select--single>.Select-control .Select-value a.Select-value-label:hover,.Select.has-value.Select--single>.Select-control .Select-value a.Select-value-label:focus,.Select.has-value.Select--single>.Select-control .Select-value a.Select-value-label:hover{color:#007eff;outline:none;text-decoration:underline}.Select.has-value.is-pseudo-focused.Select--single>.Select-control .Select-value a.Select-value-label:focus,.Select.has-value.Select--single>.Select-control .Select-value a.Select-value-label:focus{background:#fff}.Select.has-value.is-pseudo-focused .Select-input{opacity:0}.Select.is-open .Select-arrow,.Select .Select-arrow-zone:hover>.Select-arrow{border-top-color:#666}.Select.Select--rtl{direction:rtl;text-align:right}.Select-control{background-color:#fff;border-color:#d9d9d9 #ccc #b3b3b3;border-radius:4px;border:1px solid #ccc;color:#333;cursor:default;display:table;border-spacing:0;border-collapse:separate;height:36px;outline:none;overflow:hidden;position:relative;width:100%}.Select-control:hover{box-shadow:0 1px 0 rgba(0,0,0,.06)}.Select-control .Select-input:focus{outline:none;background:#fff}.Select--single>.Select-control .Select-value,.Select-placeholder{bottom:0;color:#aaa;left:0;line-height:34px;padding-left:10px;padding-right:10px;position:absolute;right:0;top:0;max-width:100%;overflow:hidden;text-overflow:ellipsis;white-space:nowrap}.Select-input{height:34px;padding-left:10px;padding-right:10px;vertical-align:middle}.Select-input>input{width:100%;background:none transparent;border:0 none;box-shadow:none;cursor:default;display:inline-block;font-family:inherit;font-size:inherit;margin:0;outline:none;line-height:17px;padding:8px 0 12px;-webkit-appearance:none}.is-focused .Select-input>input{cursor:text}.has-value.is-pseudo-focused .Select-input{opacity:0}.Select-control:not(.is-searchable)>.Select-input{outline:none}.Select-loading-zone{cursor:pointer;display:table-cell;text-align:center}.Select-loading,.Select-loading-zone{position:relative;vertical-align:middle;width:16px}.Select-loading{-webkit-animation:Select-animation-spin .4s infinite linear;-o-animation:Select-animation-spin .4s infinite linear;animation:Select-animation-spin .4s infinite linear;height:16px;box-sizing:border-box;border-radius:50%;border:2px solid #ccc;border-right-color:#333;display:inline-block}.Select-clear-zone{-webkit-animation:Select-animation-fadeIn .2s;-o-animation:Select-animation-fadeIn .2s;animation:Select-animation-fadeIn .2s;color:#999;cursor:pointer;display:table-cell;position:relative;text-align:center;vertical-align:middle;width:17px}.Select-clear-zone:hover{color:#d0021b}.Select-clear{display:inline-block;font-size:18px;line-height:1}.Select--multi .Select-clear-zone{width:17px}.Select-arrow-zone{cursor:pointer;display:table-cell;position:relative;text-align:center;vertical-align:middle;width:25px;padding-right:5px}.Select--rtl .Select-arrow-zone{padding-right:0;padding-left:5px}.Select-arrow{border-color:#999 transparent transparent;border-style:solid;border-width:5px 5px 2.5px;display:inline-block;height:0;width:0;position:relative}.Select-control>:last-child{padding-right:5px}.Select--multi .Select-multi-value-wrapper{display:inline-block}.Select .Select-aria-only{position:absolute;display:inline-block;height:1px;width:1px;margin:-1px;clip:rect(0,0,0,0);overflow:hidden;float:left}@-webkit-keyframes Select-animation-fadeIn{0%{opacity:0}to{opacity:1}}@keyframes Select-animation-fadeIn{0%{opacity:0}to{opacity:1}}.Select-menu-outer{border-bottom-right-radius:4px;border-bottom-left-radius:4px;background-color:#fff;border:1px solid #ccc;border-top-color:#e6e6e6;box-shadow:0 1px 0 rgba(0,0,0,.06);box-sizing:border-box;margin-top:-1px;max-height:200px;position:absolute;top:100%;width:100%;z-index:1;-webkit-overflow-scrolling:touch}.Select-menu{max-height:198px;overflow-y:auto}.Select-option{box-sizing:border-box;background-color:#fff;color:#666;cursor:pointer;display:block;padding:8px 10px}.Select-option:last-child{border-bottom-right-radius:4px;border-bottom-left-radius:4px}.Select-option.is-selected{background-color:#f5faff;background-color:rgba(0,126,255,.04);color:#333}.Select-option.is-focused{background-color:#ebf5ff;background-color:rgba(0,126,255,.08);color:#333}.Select-option.is-disabled{color:#ccc;cursor:default}.Select-noresults{box-sizing:border-box;color:#999;cursor:default;display:block;padding:8px 10px}.Select--multi .Select-input{vertical-align:middle;margin-left:10px;padding:0}.Select--multi.Select--rtl .Select-input{margin-left:0;margin-right:10px}.Select--multi.has-value .Select-input{margin-left:5px}.Select--multi .Select-value{background-color:#ebf5ff;background-color:rgba(0,126,255,.08);border-radius:2px;border:1px solid #c2e0ff;border:1px solid rgba(0,126,255,.24);color:#007eff;display:inline-block;font-size:.9em;line-height:1.4;margin-left:5px;margin-top:5px;vertical-align:top}.Select--multi .Select-value-icon,.Select--multi .Select-value-label{display:inline-block;vertical-align:middle}.Select--multi .Select-value-label{border-bottom-right-radius:2px;border-top-right-radius:2px;cursor:default;padding:2px 5px}.Select--multi a.Select-value-label{color:#007eff;cursor:pointer;text-decoration:none}.Select--multi a.Select-value-label:hover{text-decoration:underline}.Select--multi .Select-value-icon{cursor:pointer;border-bottom-left-radius:2px;border-top-left-radius:2px;border-right:1px solid #c2e0ff;border-right:1px solid rgba(0,126,255,.24);padding:1px 5px 3px}.Select--multi .Select-value-icon:focus,.Select--multi .Select-value-icon:hover{background-color:#d8eafd;background-color:rgba(0,113,230,.08);color:#0071e6}.Select--multi .Select-value-icon:active{background-color:#c2e0ff;background-color:rgba(0,126,255,.24)}.Select--multi.Select--rtl .Select-value{margin-left:0;margin-right:5px}.Select--multi.Select--rtl .Select-value-icon{border-right:none;border-left:1px solid #c2e0ff;border-left:1px solid rgba(0,126,255,.24)}.Select--multi.is-disabled .Select-value{background-color:#fcfcfc;border:1px solid #e3e3e3;color:#333}.Select--multi.is-disabled .Select-value-icon{cursor:not-allowed;border-right:1px solid #e3e3e3}.Select--multi.is-disabled .Select-value-icon:active,.Select--multi.is-disabled .Select-value-icon:focus,.Select--multi.is-disabled .Select-value-icon:hover{background-color:#fcfcfc}@keyframes Select-animation-spin{to{transform:rotate(1turn)}}@-webkit-keyframes Select-animation-spin{to{-webkit-transform:rotate(1turn)}}

.resizable-table th {
    overflow: visible !important;
    background: #fff;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.resizable-table th:first-child {
    border-top-left-radius: 5px;
}
.resizable-table th:last-child {
    border-top-right-radius: 5px;
}
.resizable-table .resizer {
    position: absolute;
    top: 0;
    bottom: 0;
    right: -5px;
    width: 9px;
    height: 100%;
    cursor: col-resize;
    z-index: 1;
}
.pagination>.active>a {
  background-color: #00a0e9;
}
