/*
===========================================================
BOOTSTRAP ELEMENTS CHANGES
===========================================================
*/

.form-control {
    color: black;
}

.glyphicon {
    margin-right: 10px;
}

.glyphicon-download-alt {
    color: red;
}

.glyphicon-edit {
    color: green;
}



/*
===========================================================
Fonts
===========================================================
*/

@font-face {
    font-family: 'raleway-regular';
    src: url('../fonts/raleway-regular.eot');
    src: url('../fonts/raleway-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway-regular.woff') format('woff'),
         url('../fonts/raleway-regular.ttf') format('truetype'),
         url('../fonts/raleway-regular.svg#raleway-regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'raleway-semibold';
    src: url('../fonts/raleway-semibold.eot');
    src: url('../fonts/raleway-semibold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway-semibold.woff') format('woff'),
         url('../fonts/raleway-semibold.ttf') format('truetype'),
         url('../fonts/raleway-semibold.svg#raleway-semibold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'raleway-bold';
    src: url('../fonts/raleway-bold.eot');
    src: url('../fonts/raleway-bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway-bold.woff') format('woff'),
         url('../fonts/raleway-bold.ttf') format('truetype'),
         url('../fonts/raleway-bold.svg#raleway-bold') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* ==========================================================================
   Base Styles, Bootstrap Modifications
   ========================================================================== */

::-moz-selection {
    background: #f2c2c9;
    color: #a4003a;
    text-shadow: none;
}

::selection {
    background: #16a085;
    color: #a4003a;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

 hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

.centered {
	text-align: center
}

.mt {
	margin-top: 50px;
}

.mb {
	margin-bottom: 50px;
}

/* ==========================================================================
   General styles
   ========================================================================== */


body {
    font-family: "raleway-regular", arial;
    font-weight: 400;
    font-size: 16px;

    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}

h1, h2, h3, h4, h5 ,h6{
    color: #626262;
    font-family: "raleway-regular", arial;
    letter-spacing: 1px;
    margin-bottom: 20px
}

.navbar-brand {
  background: url("/static/img/automan_icon.png") no-repeat left center;
  background-size: contain;
  height: 50px;
  width: 250px;
}

.navbar-default .navbar-brand {
	color: #48B3D7;
}

.navbar-default {
	background-color: transparent;
	border-color: transparent;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	color: #48B3D7;
	background-color: transparent;
	border-bottom: 2px solid #48B3D7
}

.navbar-default .navbar-nav > li > a {
	color: #48B3D7;
}

.container {
  margin-top: 20px;
}

.icon_bottom {
  width: 180px;
}

/* ==========================================================================
   Wrap Sections
   ========================================================================== */

#headerwrap {
	background: url(../img/ai.png) no-repeat right;
	margin-top: 50px;
	padding-top: 150px;
	text-align:center;
	min-height: 650px;
	height: 100%;

    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
}

#headerwrap h1 {
	color: #585858;
	text-align: left;
	letter-spacing: 4px;
	font-size: 60px;
	font-weight: bold;
}

#headerwrap div {
    text-align: left;
	font-weight: 400;
	color: #585858
}

#headerwrap a {
    text-align: left;
    margin-left: 10px;
}

#social {
	padding-top: 50px;
	padding-bottom: 50px;
	background-color: #f2f2f2;
}

#social i {
	font-size: 40px;
	color: #4a4a4a
}

#social i:hover {
	color: #48B3D7
}

#footerwrap {
	padding-top: 70px;
	padding-bottom: 50px;
	background-color: #2f2f2f;
}

#footerwrap p {
	color: #f2f2f2;
	margin-left: 10px;
}

#workwrap {
	background: url(../img/work.jpg) no-repeat center top;
	margin-top: -70px;
	padding-top: 250px;
	text-align:center;
	background-attachment: relative;
	background-position: center center;
	min-height: 650px;
	width: 100%;

    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#workwrap h1 {
	color:#ffffff;
	padding-top: 10px;
	padding-bottom: 20px;
	letter-spacing: 4px;
	font-size: 80px;
	font-weight: bold;
}

#workwrap h4 {
	font-weight: 400;
	color: #ffffff
}

#aboutwrap {
	background: url(../img/about.jpg) no-repeat center top;
	margin-top: -70px;
	padding-top: 250px;
	text-align:center;
	background-attachment: relative;
	background-position: center center;
	min-height: 550px;
	width: 100%;

    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#loginform {
	margin-top: 100px;
    margin-bottom: 100px;
}

.title_img {
  width: 40%;
}

/* Gallery */
.gallery {
	margin-top: 10px;
  min-height: 100px;
}

.gallery img:hover {
	opacity: 0.4;
}

/* Button */
.square_btn{
    padding-top: 50px;
    position: relative;
    display: inline-block;
    font-weight: bold;
    padding: 0.25em 0.5em;
    text-decoration: none;
    color: #00a3e0;
    background: #ECECEC;
    transition: .4s;
  }

.square_btn:hover {
    background: #00a3e0;
    color: white;
}


/*    Video    */
.video{
    display: block;
    width: 100%;
    height: 250px;
    text-align: center;
    margin-top: 100px;
    background: url('../img/vector_map_logo_shadow.png') no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.video .video_logo{
    margin-top: 85px;
}

.video h1{
    color: #FFFFFF;
    font-family: "raleway-regular";
    font-size: 40px;
    font-weight: normal!important;
    padding-top: 60px
}

.video h3{
    color: #fff;
    font-family: "raleway-regular";
    font-size: 20px;
    font-weight: normal!important;
    margin: 20px 0 0 0;
}

.video #play_btn{
    display: inline-block;
    width: 71px;
    height: 71px;
    background: url('../img/play_btn.png') no-repeat;
    margin-top: 40px;
}
