[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pep8 = "*"
flake8 = "*"

[packages]
djangorestframework = "==3.11.2"
djangorestframework-jwt = "==1.11.0"
mysql-connector = "==2.1.7"
python-dotenv = "==0.9.1"
django-webpack-loader = "==0.6.0"
mysqlclient = "*"
requests = "==2.20.0"
azure = "==4.0.0"
boto3 = "*"
Django = ">=3.0.0"
uWSGI = "*"
Cerberus = "==1.2"
kubernetes = "*"
django-rest-swagger = "==2.2.0"
numpy = "*"
opencv-python = "*"
pymysql = "*"
